/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --nav-color: #ff0070;
  --main-font: "IBM Plex mono", "Monaco", monospace;
  --header-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --nav-color: #ff0070;
    --main-font: "IBM Plex mono", "Monaco", monospace;
    --header-image: none;
  }

  .footer .decorated-header-top__corners::after {
    display: none;
  }

  .decorated-header__text {
    color: var(--accent-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    position: relative;
  }

  .decorated-header-top__corners::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 6px;
    right: 5px;
    filter: drop-shadow(0px 0px 4px var(--accent-color));
    background-color: var(--accent-color);
  }

  .section__header {
    color: var(--accent-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--nav-color);
  }

  .header__theme-menu-button:hover {
    --nav-hover-color: rgb(225 0 112/ 0.4);
  }

  .decorated-header-top__corners {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  .decorated-header-bottom__corners {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  .title-decor {
    color: var(--bg-color);
  }
}
